$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$main-color: #F05A28;

html, body {
  height: 100%;
}

.navbar-brand {
  img {
    width:140px;
    height: 35px;
    margin-top: -7px;
    margin-left: -9px;
  }
}

.navbar-default {
  border-bottom: 1px solid $main-color;
  box-shadow: 0px -2px 9px 0px rgba(0,0,0,0.28);
}

.fill {
  height: 100%;
  min-height: 100%;
}
.fill-overflow {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.with-navbar-margin {
  padding-top: 50px;
  padding-bottom: 100px;
}

.map {
  display: block;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #ddd;
}

.map-message {
  text-align: center;
  padding: 5px;
  position: absolute;
  top: 60px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  width: 50%;
  border-radius: 5px;
  border: 1px solid #ddd;
}

footer {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  font-size: .9em;
  color: #999;

  p {
    padding: 0px;
    padding-bottom: 5px;
    margin: 0px;
  }
}



.with-navbar-margin {
  padding-top: 50px;
}

// Fix ng-sortable bug
// https://github.com/a5hik/ng-sortable/issues/74
.as-sortable-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ol.as-sortable-unselectable, ul.as-sortable-unselectable {
  min-height: 30px;

}

.li-highlight-over:hover {
    cursor: pointer;
    background: white;
    color: red;
}


.sortable-li {
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 18px;
  padding: 5px;
  margin: 2px;
}

.right-btn-group {
  position: absolute;
  top: 60px;
  right: 10px;
  text-align: right;
  z-index: 100000
}


#stop-detail {
  box-shadow: 0px -2px 9px 0px rgba(0,0,0,0.28);
  z-index: 999;
  position: fixed;
  width: 100%;
  background: #f0f0f0;
  height:40%;
  top: 60%;
  left: 0px;
  overflow-y: scroll;

  .close-link {
    z-index: 1100;
    color: #808080;
    position: fixed;
    right: 0px;
    img {
      width: 30px;
      height: 30px;
    }
  }

  h1,h2,h3 {
    opacity: 1.0;
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
  }

  h3 {
    font-size: 16px;
    padding:5px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #808080;
    color: $main-color;
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
  }
  .clickable-container {
    width: 90%;
    padding-top: 18px;
    padding-bottom: 18px;
    &:hover {
      cursor: pointer;
      color: $main-color;
      h4 {

      }
    };

  }

  .routes-title {
    text-transform: uppercase;
   background-color: #DDDDDD;
   color: #5C5C5C;
   font-size: 10px;
   padding: 5px;
   margin: 0px;
   padding-top: 30px;
  }

  ul.route-list {
    margin:0px;
    padding: 0px;
    list-style-type: none;


  }
  li.route-list-item {
   /* min-height: 60px;
    line-height: 60px;*/
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    border-bottom: 1px solid #ddd;

    h4 {
      margin:0px;
      padding: 0px;
    }
  }


  ul.trip-stops-list {
    z-index: 1002;
    margin:0px;
    padding:0px;
    list-style-type: none;

    li {
       margin:0px;
       padding-left: 0px;
       font-size: 14px;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       &:hover {
         font-weight: bold;
         color: $main-color;
         cursor: pointer;
       };
       img {
         width: 38px;
         height: 38px;
       }
       a {
         color: #ddd;
         &:hover {
           color: $main-color;
         };
       }
       .label-warning {
         background-color: $main-color;
       }
    }

  }

  .route-list-item:hover {
    background-color: white;
  };



} //stop-detail

.search-results-list {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 0px;
  li {
    line-height: 36px;
    list-style-type: none;
    border-bottom: 1px solid #CCC;
  }

}

.alert {
  margin-top: 5px;
  padding: 5px;
  font-size: 10px;
}

.group-border-danger {
  border: 1px solid #a94442;
  border-radius: 3px;
  padding: 10px;
}

@media screen and (min-width: 768px) {

  .leaflet-control-attribution {
    margin-bottom: 42px !important;
  }


  #stop-detail {
    top: 50px;
    height: 100%;
    width: 300px;
    min-height: 100px;
    height: 100%;
    overflow-y: scroll;

    h3 {
      width: 300px;
      left: 0px;
    }
    .close-link {
      position: fixed;
      top: 50px;
      left: 270px;
    }
    .routes-title {
      padding-top: 0px;
      padding-top: 30px;
    }
  }

  footer {
    position: fixed;
    z-index: 1000;
  }

  .leaflet-control-attribution {
    margin-bottom: 22px !important;
  }


  .modal-view-size {
    height: 400px;
    overflow-y: scroll;
  }


}



/* Animations */


#stop-detail {
  &.stop-detail-anim {
    transition: opacity ease 0.5s;
    &.ng-show {
      border: 1px solid blue;
    }
    &.ng-hide {
      opacity: 0.0;
    }
  }
}

.leaflet-marker-icon,
.leaflet-marker-shadow, .panatrans-map-trip {
  animation: fadein 1s ease;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
