  
    <div class="modal-header">
      <button class="btn btn-warning pull-right" ng-click="close()">Cerrar</button>
      <h3 class="modal-title">Editar paradas de {{route.name}}</h3>
    </div>
    <div class="modal-body modal-view-size">
      <div class="row" ng-show="loading">
        <p>&nbsp;<i class="fa fa-circle-o-notch fa-spin"></i> Obteniendo datos</p>
      </div>
      <div class="row" ng-hide="loading">
        <div class="col-sm-6" ng-repeat="trip in route.trips">
          <h4>{{trip.headsign}}</h4>
          <p>Parada: <input type="text" ng-model="newStopSequence[trip.id].stop" typeahead-focus-first="true" typeahead-editable="false" typeahead="stop as stop.name for stop in stopsArr | limitTo:8 | filter:{name:$viewValue}" placeholder="Ej: Albrook">

            <div class="btn-group">
             
              <label class="btn btn-default btn-xs" 
              ng-model="newStopSequence[trip.id].sequence" 
              btn-radio="-1"><i class="fa fa-exclamation-triangle" 
              title="Añadir parada en posición desconocida."></i></label>
             
              <label class="btn btn-default btn-xs" 
              ng-model="newStopSequence[trip.id].sequence" 
              btn-radio="0" 
              title="Añadir parada al inicio de la ruta">Primera</label>
             
              <label class="btn btn-default btn-xs" 
              ng-model="newStopSequence[trip.id].sequence" 
              btn-radio="null" 
              tutle="Añadir al final de la ruta">Fin</label> 
             
            </div>
            <button ng-click="addStopToTrip(trip.id)" class="btn btn-primary">Añadir</button>
       
          </p>
          <ul class="as-sortable-unselectable fa-ul" 
          data-as-sortable="dragControlListeners[trip.id]['unknown']" 
          data-ng-model="unknownStopSequences[trip.id]">
           <li  data-ng-repeat="stop_sequence in unknownStopSequences[trip.id]| filter : orderBy : stop_sequence.sequence" ng-if="stop_sequence.sequence === null" class="sortable-li" data-as-sortable-item>
                      
                  <i class="fa-li fa fa-exclamation-triangle" style="line-height: 18px;padding:5px"></i><div data-as-sortable-item-handle title="Arrastra la parada al orden adecuado (secuencia: {{stop_sequence.sequence}})">{{stop_sequence.sequence}} -  {{stop_sequence.stop.name}}
                <!-- <i ng-if="stop_sequence.sequence === null" class="fa fa-exclamation-triangle" style="color:orange" title="Está en la ruta, pero no sabemos en qué lugar"></i> -->
                <a href="" ng-click="deleteStopSequence(stop_sequence)" title="Borrar {{stop_sequence.stop.name}} de esta ruta" class="pull-right"><i class="fa fa-trash-o"></i></a>
              </div>
            </li>
          </ul>
          <hr>
          <ol class="as-sortable-unselectable" 
          data-as-sortable="dragControlListeners[trip.id]['sorted']" 
          data-ng-model="sortedStopSequences[trip.id]" >
            <li  data-ng-repeat="stop_sequence in sortedStopSequences[trip.id] | filter : orderBy : stop_sequence.sequence" ng-if="stop_sequence.sequence !== null" class="sortable-li" data-as-sortable-item>
              <div data-as-sortable-item-handle title="Arrastra la parada al orden adecuado (secuencia: {{stop_sequence.sequence}})"> {{stop_sequence.sequence}} {{stop_sequence.stop.name}} 
                  <a href=""  ng-click="deleteStopSequence(stop_sequence)" title="Borrar {{stop_sequence.stop.name}} de esta ruta" class="pull-right"><i class="fa fa-trash-o"></i></a>
              
            </div>
            </li>
          </ol>
          
          
        </div>
      </div><!-- row -->
    </div> <!-- modal-body-->
      