
    <div class="modal-header">
      <button class="btn btn-warning pull-right" ng-click="close()">Cerrar</button>
      <h3 class="modal-title">Editar rutas de {{stop.name}}</h3>
    </div>
    <div class="modal-body modal-view-size">
      <div class="row">            
        <div class="col-sm-6" style="background: #F0F0F0">
          <h4>Añadir ruta</h4>
          <i class="fa fa-search"></i> <input type="text" ng-model="searchText" placeholder="Ej: Albrook-Amador">
          <ul>
            <li ng-repeat="route in routes | filter : searchFilter">
              {{route.name}}
              <ul>
                <li ng-repeat="trip in route.trips | filter: tripNotAlready"> 
                  <i class="fa fa-plus-circle"></i> <a href="" ng-click="addTrip(trip.id)"> Trayecto {{trip.headsign}} </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-sm-6" >
          <h4>Rutas que pasan por {{stop.name}}</h4>
          <ul>
            <li ng-repeat="route in stop.routes" ng-if="route.trips.length > 0">
              {{route.name}}
              <ul>
                <li ng-repeat="trip in route.trips track by trip.id">
                  <small>Trayecto {{trip.headsign}}
                    <a href="" ng-click="deleteTrip(trip.id)"><i class="fa fa-trash-o"></i>
                    </a>
                  </small>
                </li>
              </ul>
            </li>
            <!-- when no routes -->
            <li ng-show="stop.routes.length == 0">
              <h3>No hay rutas.</h3>
                  
              <p> Para añadir una:</p> 
              <ol>
                <li> <i class="fa fa-search"></i> Busca la ruta </li>
                <li> Dale a <i class="fa fa-plus-circle"></i> añadir</li>
              </ol>   
                  
            </li>
          </ul>
        </div>      
      </div><!-- row -->
    </div> <!-- modal-body-->

      