  
<div class="modal-header">
  <button class="btn btn-default pull-right" ng-click="close()"><i class="fa fa-close"></i></button>
  <h3 class="modal-title">Ruta: {{route.name}}</h3>
</div>
<div class="modal-body modal-view-size"> 
  <div ng-show="loading">
    <p class="text-center"><i class="fa fa-circle-o-notch fa-spin"></i> Obteniendo datos de ruta...</p>
  </div>
      
      
  <div ng-hide="loading" class="container-fluid">
        
    
    <div class="row form-group">    
      <!-- route name -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="route-name">Nombre de la ruta:</label>
      
          <input ng-init="routeNameHasFocus=false" id="route-name" name="route-name" class="form-control" type="text" ng-model="route.name" ng-focus="routeNameHasFocus=true" ng-blur="updateRouteName();routeNameHasFocus=false" placeholder="Ejemplo: Albrook - Miraflores" aria-describedby="help-route-name">
        </div>
        <div class="form-group" ng-show="isNewRoute">
          <button ng-click="addNewRoute()" class="btn btn-primary">Añadir ruta</button>
        </div>
        <br>
      </div>
      <div class="col-md-6">
        <br>
        <small class="help-block" id="help-route-name">Usa guiones como separador. Ej: Albrook <mark>-</mark> Miraflores
          <br>
          No te olvides poner las tildes.
        </small>
      </div>
    </div>
    <!-- route url -->
    <div class="row form-group" ng-hide="isNewRoute"> 
      <div class="col-md-6">
        <label for="route-address">Dirección web (opcional):</label>
        <input id="route-address" class="form-control" name="route-address" type="text" ng-model="route.url" ng-blur="updateRouteUrl()" placeholder="Ejemplo: http://www.mibus.com/albrook-miraflores/" aria-describedby="help-route-name">
      </div>
      <div class="col-md-6">
        <br>
        <small class="help-block" id="help-route-name">Es la página de mibus.com.pa con la ruta. Si existe, la puedes encontrar en <a href="http://www.mibus.com.pa/rutas/" title="página de rutas de mibus">mibus.com.pa</a>
        </small>
      </div>
    </div>
  
    <!-- there are two situations: 
      1) The route does not have any trip. Then display a form to create the trips.
      2) The route has trips. Then display the form to edit the trips, ie. add/remove stop_sequences
      -->        
      <div ng-hide="routeHasTrips() || isNewRoute" class="group-border-danger"> <!-- 1)  display if route does not have any trip -->
        <p ng-hide="isNewRoute" class="text-danger"><strong>La ruta todavía no tiene trayectos asignados.</strong></p>
        <p><strong>¿Qué trayectos tiene la ruta?</strong>
          <br><small> Es importante que este dato sea correcto. Si no lo sabes es posible que lo puedas ver en la web de <a href="http://www.mibus.com.pa/rutas/" title="página de rutas de mibus">mibus.com.pa</a>. Más información sobre <a target="_blank" href="https://github.com/merlos/panatrans-dataset/wiki#rutas-de-un-trayecto-circular-o-dos-trayectos" title="Tipos de rutas según trayectos (abre nueva pestaña)">tipos de rutas en función de los trayectos.</a></p>
        
          <div class="row">
           
            <div class="col-sm-4">
              <div class="radio">  
                <label>
                  <input type="radio" name="trips" ng-model="route.tripsType" value="one"  aria-describedby="help-one-trip">
                  <i class="fa fa-long-arrow-right"></i> Ruta de un único trayecto
                  <small id="help-one-trip" class="help-block">Es una ruta circular (empieza y termina en el mismo punto) o no hay trayecto de vuelta (empieza en un punto A y termina en un punto B)</small>
                </label>
              </div>
            </div>
             <!-- Disabled circular routes, we can infere it if first and last stop is the same -->
            <!--  
            <div class="col-sm-4">
                  <div class="radio"> 
                <label>
                  <input type="radio" name="trips"  ng-model="route.tripsType" value="circular" aria-describedby="help-circular-trip">
                  <i class="fa fa-circle-o-notch"></i> Ruta de un único trayecto circular
                  <small id="help-circular-trip" class="help-block">Empieza en un punto A y termina en el mismo punto.</small>
                </label>
              </div>
            </div>
            -->
            <div class="col-sm-4">
              <div class="radio"> 
                <label>
                  <input type="radio" name="trips" ng-model="route.tripsType" id="two" value="two">
                  <i class="fa fa-arrows-h"></i> Ruta con dos trayectos 
                  <small id="help-circular-trip" class="help-block">Tiene un trayecto de ida y otro de vuelta. Al finalizar el trayecto de ida, los pasajeros han de bajar del bus.</small>
                </label>
              </div>
            </div>
          </div><!-- row-->
      
          <div class="form-input"> 
            <br>
            <button class="btn btn-primary" ng-click="addTripsToRoute()">Añadir</button>
          </div>
        </div>
      
        <!-- 2) the route has the trips -->      
        <div class="row" ng-show="routeHasTrips">
          <hr> 
          <div class="col-md-6" ng-repeat="trip in route.trips" ng-if="route.trips !== undefined">
            <p><strong>Paradas del trayecto {{trip.headsign}}</strong> <a class="btn btn-xs btn-primary" ng-click="showNewStopSequence[trip.id]=true" ng-hide="showNewStopSequence[trip.id] === true">Añadir parada</a></p>
        
            <form ng-show="showNewStopSequence[trip.id]===true" style="border: 1px solid #ccc;padding-left: 18px;padding-top: 18px; padding-right: 18px; margin-bottom: 18px">
              <label for="trip-{{trip.id}}">Añadir parada a trayecto que finaliza en {{trip.headsign}}: </label>
              <div class="form-group">
                <input type="text" name="trip-{{trip.id}}" class="form-control" ng-model="newStopSequence[trip.id].stop" autocomplete="off" typeahead-focus-first="true" typeahead-editable="false" typeahead="stop as stop.name for stop in stopsArr | filter:{name:$viewValue} | limitTo:8" placeholder="Ej: Albrook"
                aria-describedby="search-addon">
              </div>
              <div class="form-group">
                Añadir al: 
                <div class="btn-group"> 
                  <label class="btn btn-default btn-xs" 
                  ng-model="newStopSequence[trip.id].sequence" 
                  btn-radio="null" 
                  title="Añadir al final de la ruta">Final del trayecto (defecto)</label>
                  
                  <label class="btn btn-default btn-xs" 
                  ng-model="newStopSequence[trip.id].sequence" 
                  btn-radio="0" 
                  title="Añadir parada al inicio de la ruta">Inicio trayecto</label>
                  
                  <label class="btn btn-default btn-xs" 
                  ng-model="newStopSequence[trip.id].sequence" 
                  btn-radio="-1"><i class="fa fa-exclamation-triangle" 
                  title="Si no sabes en qué posición está esta parada, Usa esta opción"></i>Posición desconocida</label>
                   
                </div>
              </div>
              <div class="form-group">
                <button ng-click="addStopToTrip(trip.id)" class="btn btn-primary">Añadir</button>
                <a href="" ng-click="showNewStopSequence[trip.id] = false">Cancelar</a>
              </div>
            </form>
      
            <p>Paradas orden desconocido:
              <ul class="as-sortable-unselectable fa-ul" 
              data-as-sortable="dragControlListeners[trip.id]['unknown']" 
              data-ng-model="unknownStopSequences[trip.id]">
              <li  data-ng-repeat="stop_sequence in unknownStopSequences[trip.id]| filter : orderBy : stop_sequence.sequence" ng-if="stop_sequence.sequence === null" class="sortable-li" data-as-sortable-item>
                      
                <i class="fa-li fa fa-exclamation-triangle" style="line-height: 18px;padding:5px"></i><div data-as-sortable-item-handle title="Arrastra la parada al orden adecuado (posición actual: {{stop_sequence.sequence}})">  {{stop_sequence.stop.name}}
                  <!-- <i ng-if="stop_sequence.sequence === null" class="fa fa-exclamation-triangle" style="color:orange" title="Está en la ruta, pero no sabemos en qué lugar"></i> -->
                  <a href="" ng-click="deleteStopSequence(stop_sequence)" title="Borrar {{stop_sequence.stop.name}} de este trayecto" class="pull-right"><i class="fa fa-trash-o"></i></a>
                </div>
              </li>
            </ul>
            <hr>
            Paradas ordenadas:
            <ol class="as-sortable-unselectable" 
            data-as-sortable="dragControlListeners[trip.id]['sorted']" 
            data-ng-model="sortedStopSequences[trip.id]" >
            <li  data-ng-repeat="stop_sequence in sortedStopSequences[trip.id] | filter : orderBy : stop_sequence.sequence" ng-if="stop_sequence.sequence !== null" class="sortable-li" data-as-sortable-item>
              <div data-as-sortable-item-handle title="Arrastra la parada al orden adecuado (secuencia: {{stop_sequence.sequence}})">{{stop_sequence.stop.name}} 
                <a href=""  ng-click="deleteStopSequence(stop_sequence)" title="Borrar {{stop_sequence.stop.name}} de esta ruta" class="pull-right"><i class="fa fa-trash-o"></i></a>
              
              </div>
            </li>
          </ol>
            
        </div>
      </div> 
      <div class="row form-group clearfix" ng-show="routeHasTrips()">
        <hr>
        <p>
          <button class="btn btn-danger btn-sm" ng-click="deleteTrips()" ng-disabled="tripsHaveStops()" >Borrar trayectos</button>
          <br>
          <small>Los trayectos sólo se pueden borrar cuando no tienen paradas.</small>
        </p>
      </div><!-- row -->
      <div class="row form-group clearfix" ng-hide="isNewRoute">
        <hr>
        <p>
          <button class="btn btn-danger btn-sm" ng-click="deleteRoute()" ng-disabled="route.trips.length > 0" >Borrar ruta</button>
          <br>
          <small>La ruta sólo se puede borrar si no tiene trayectos.</small>
        </p>
      </div><!-- row -->
    </div>
    
  </div>
</div>