<div class="modal-header">
  <button class="btn btn-default pull-right" ng-click="cancel()"><i class="fa fa-close"></i></button>
  <h3 class="modal-title">Añadir parada</h3>

</div>
<form ng-submit="ok()">
  <div class="modal-body">
    <div class="form-group">
    <label for="name">Nombre de la parada: </label>
    <input type="text" class="form-control" name="name" ng-model="stop.name" placeholder="Albrook" autofocus>
  </div>

    <p class="small">El nombre de la parada lo puedes obtener de los <a href="http://www.mibus.com.pa/rutas/">PDFs de las rutas de mibus.com.pa</a>. También en algunos buses el nombre de la parada se muestra en una pantalla y lo anuncian por megafonía.
    </p>
    <div class="row">
      <div class="col-sm-6">
      <label for="lat">Latitud (opcional)</label>
      <input type="number" class="form-control" name="lat" ng-model="stop.lat" min="-90.0" max="90.0" placeholder="8.975640">
    </div><!-- col -->
    <div class="col-sm-6">
      <label for="lon">Longitud (opcional)</label>
      <input type="number" class="form-control" name="lon" ng-model="stop.lon" min="-180.0" max="180.0" placeholder="-79.551748">
    </div>
   </div>


  <div class="modal-footer">
    <a href="" ng-click="cancel()">Cancelar</a>
    <input type="submit" class="btn btn-primary" ng-click="ok()"
    ng-disabled="(stop.name.length === undefined) || (stop.name.length < 1)" value="Continuar">

  </div>
