<div class="modal-header">
   <button class="btn btn-default pull-right" ng-click="cancel()"><i class="fa fa-close"></i></button>
  <h3 class="modal-title">Añadir parada</h3>
  
</div>
<form ng-submit="ok()">
<div class="modal-body">
  <p>
    <label for="name">Nombre de la parada: </label> 
    <input type="text" name="name" ng-model="stop.name" placeholder="Ej: Albrook" autofocus>
  </p>
  <div ng-show="showMap" id="newStopMap" style="width: 530px;height:400px"></div>

</div>


<div class="modal-footer">
  <a href="" ng-click="cancel()">Cancelar</a>
  <input type="submit" class="btn btn-primary" ng-click="ok()" value="Continuar">
  
</div>
 