<div class="contrainer with-navbar-margin">
<div class="jumbotron">  
  <div class="container">
  <h1>Colabora</h1>
  <p>Panatrans lo conforma una <strong>comunidad</strong> de usuarios que de forma colaborativa aportan y actualizan los datos.
  </p>
  <p><mark style="background-color: yellow">¡Tú también puedes ayudar!</mark> Estas son algunas formas:</p>
  
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <span class="fa-stack fa-4x" style="color: green; display: block; text-align: center">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-share fa-stack-1x fa-inverse"></i>
      </span>
      
        <h2>Comparte en tus redes sociales</h2>
        
        <p class="lead">Cuanto más grande sea la comunidad mejor será la información.</p>
        
        <p> Como los contenidos de Panatrans los hacemos todos los usuarios, ayudando a que más gente conozca y 
          participe en la iniciativa más completa será la información de las rutas y paradas. </p>
      
        <a class="btn btn-info" target="_blank" href="https://twitter.com/intent/tweet?text=Mapa+con+las+paradas+y+rutas+de+%23metrobus+de+%23Panam&aacute;&amp;url=http://www.panatrans.org&amp;via=panatrans"><i class="fa fa-twitter"></i> tuitéalo
            </a>
          
        <a  class="btn btn-primary" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://www.panatrans.org">
              <i class="fa fa-facebook-official"></i> compártelo en Facebook
        </a>
    </div>
    <div class="col-sm-4">
          <span class="fa-stack fa-4x" style="color:orange">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
        </span>
          <h2>Mejora la información</h2>
          <p class="lead">¿Falta alguna parada? ¿Hay una ruta incompleta? Tú puedes mejorarlo</p>
          <p>Panatrans es como la Wikipedia, los contenidos los crean y editan los
            propios usuarios aportando su conocimiento. La información de algunas rutas puede que no esté completa, haya cambiado o tenga algún error ¡Tú puedes cambiarlo! 
            <br>
            <strong>Para cambiar algo busca el icono de editar <i class="fa fa-edit"></i></strong> en la web. Tienes más documentación en nuestro <a href="https://github.com/merlos/panatrans-dataset/wiki">wiki</a></p>
            
            <a class="btn btn-warning" href="https://github.com/merlos/panatrans-dataset/wiki" title="documentación con más información sobre cómo colaborar con Panatrans">Tutoriales y documentación</a>
      </div>
    
    <div class="col-sm-4">
      <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
    </span>
        <h2>Desarrolla e innova</h2>
        <p class="lead">¿Eres programador? ¿Echas en falta alguna funcionalidad?</p>
        <p>Panatrans está basado en código abierto. Además, tienes disponible una <a href="http://github.com/merlos/panatrans-api/"><i class="fa fa-github"></i> API para desarrolladores</a> a la que 
          puedes acceder para crear una web mejor o una app móvil. 
          Los proyectos de panatrans los tienes en github en:
        </p>
        <ul class="fa-ul">
          <li><p><i class="fa fa-server"></i> <a href="http://github.com/merlos/panatrans-api">panatrans-api</a></p></li>
          <li><p><i class="fa fa-globe"></i> <a href="http://github.com/merlos/panatrans-web">panatrans-web</a></p></li>
          <li><p><i class="fa fa-database"></i> <a href="http://github.com/merlos/panatrans-dataset">panatrans-dataset</a></p></li>
    </div>
  </div>
 <div class="row">
   <hr>
    <div class="col-sm-6">
      <h2>Aporta ideas y sugerencias</h2>
      <p class="lead">¿Qué mejorarías? ¿Qué echas en falta?</p>
      <p>Tus ideas sobre cómo mejorar Panatrans son bienvenidas.
    </div>
   <div class="col-sm-6">
   <h2>Más...</h2>
   <p>Si se te ocurre otra forma de colaborar. Escríbenos por twitter en 
     <a href="http://twitter.com/panatrans">@panatrans</a>
     o por email a <a href="hola@panatrans.org">hola@panatrans.org</a>
   </p>
</div>

  
</div>
  