<div class="container with-navbar-margin">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Licencias de uso</h1>

    <p class="lead"> Panatrans se basa en licencias abiertas. En función de si es una aplicación, un texto o una base de datos se distribuye bajo un tipo de licencia particular.

      <ul>
        <li>
          <h3>Base de datos (<a href="http://github.com/merlos/panatrans-dataset/">panatrans-dataset</a>)</h3>
          <p>
            La base de datos se distribuye bajo la licencia <a href="http://opendatacommons.org/licenses/odbl/1.0/">Open Data Commons Open Database License (ODbL)</a>.
            Esta licencia te permite copiar, distribuir, transmitir y adaptar los datos siempre y cuando atribuyas los créditos a Panatrans y sus colaboradores. Básicamente tienes que añadir "&copy; Panatrans y colaboradores". En caso de modificar o adaptar los datos debes compartirlos bajo la misma licencia.
          </p>
        
          <p>Panatrans is made available under Open Database License whose full text can be found at http://opendatacommons.org/licenses/odbl/. Any rights in individual contents of the database are licensed under the Database Contents License whose text can be found http://opendatacommons.org/licenses/dbcl/
          </p>
    
        </li>
        <li>
          <h3>Software Backend (<a href="http://github.com/merlos/panatrans-api/">panatrans-api</a>)</h3>
          <p>
            La API del backend se distribuye bajo la licencia MIT.
          </p>
          <p>
            Copyright (c) 2015 Juan M. Merlos
          </p>
          <p>
            Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
          </p><p>
            The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
          </p>
          <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
          </p>
        </li>

        <li>
          <h3>Software Frontend (<a href="http://github.com/merlos/panatrans-api/">panatrans-web</a>)</h3> 
  
          <p> El frontend (esta web) se distribuye bajo la licencia GNU/GPL. Es decir, puedes copiar, distribuir, transmitir y adaptar 
    
            <p>
              Copyright (c) 2015 Juan M. Merlos
            </p>
            <p>      
              This program is free software: you can redistribute it and/or modify
              it under the terms of the GNU General Public License as published by
              the Free Software Foundation, either version 3 of the License, or
              (at your option) any later version.
            </p>
            <p>
              This program is distributed in the hope that it will be useful,
              but WITHOUT ANY WARRANTY; without even the implied warranty of
              MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
              GNU General Public License for more details.
            </p>
            <p>
              You should have received a copy of the GNU General Public License
              along with this program.  If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.
            </p>
          </li>

          <li>
            <h3>Textos, imágenes, logos y vídeos</h3>

            <p>Los textos, imágenes, logos y vídeos se distribuyen mientras no se diga lo contrario bajo la licencia <a href="http://creativecommons.org/licenses/by-sa/4.0">Creative Commons ShareAlike</a>

              <p>  
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
              </p>
            </li>
          </ul>
        </div>
      </div>