<toast className="center"></toast>
<div ng-controller="RoutesCtrl" class="container with-navbar-margin col-sm-8 col-sm-offset-2">


<!-- <button class="btn btn-sm btn-primary pull-right" style="margin-top: 10px" ng-click="openEditRouteModal(null)">Añadir ruta</button> -->

  <label>Buscador de rutas</label>
  <div class="input-group" >
    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-road"></i></span>
    <input class="form-control" type="text" ng-model="searchText" placeholder="Ej: Albrook-Amador">
  </div>

  <div ng-show="loading">
    <p class="text-center"><i class="fa fa-circle-o-notch fa-spin"></i> Obteniendo rutas...</p>
  </div>

<ul class="search-results-list">
  <li ng-repeat="route in routes | toArray | filter : searchText : ignoreAccentsComparator">
    <strong><a href="#/ruta/{{route.id}}/{{ route.name |slugify}}.html">{{route.name}}</a></strong>
    <!--  <span class="pull-right">
      <a ng-click="openEditRouteModal(route)" href=""><i class="fa fa-edit"></i></a>
    </span>-->
    <!--
    <br>
    <span class="pull-left">
      <a ng-show="{{route.url !== null}}" href="{{route.url}}" target="_blank" class="text-danger"><i class="fa fa-file-pdf-o"></i> pdf</a>
    </span>
      -->
</li>
</ul>
</div>
