<div ng-controller="RoutesCtrl" class="container with-navbar-margin col-sm-8 col-sm-offset-2">

<h1><i class="fa fa-road"></i>Rutas Metrobus</h1>

<p> &nbsp;</p>

  <div class="input-group" >
    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search"></i></span>
    <input class="form-control" type="text" ng-model="searchText" placeholder="Ej: Albrook-Amador">
  </div>

<p> &nbsp;</p>

<ul class="list-unstyled">
<li ng-repeat="route in routes | toArray | filter : searchText : ignoreAccentsComparator">
    <strong>{{route.name}}</strong> 
    <br>
    <span class="pull-right">
      <a ng-click="openEditRouteModal(route)" href=""><i class="fa fa-edit"></i></a> |
      <a href="{{route.url}}" target="_blank"><i class="fa fa-file-pdf-o"></i> pdf</a>
    </span>
   <hr>
</li>
</ul>
</div>

  